@{
    ViewData["Title"] = "Gizlilik İlkesi";
    ViewData["isim"] = "Papirusum.com";
}
<h3>Gizlilik İlkesi</h3>
<p>
<span>@ViewData["isim"]</span> olarak kişisel gizlilik haklarınıza saygı duyuyor ve sitemizde geçirdiğiniz süre zarfında bunu sağlamak için çaba sarfediyoruz. Kişisel bilgilerinizin güvenliği ile ilgili açıklamalar aşağıda açıklanmış ve bilginize sunulmuştur.
</p>
<h4>Kayıt Dosyaları</h4>
<p>
Birçok standard web sunucusunda olduğu gibi <span>@ViewData["isim"]</span>'da istatistiksel amaçlı log dosyaları kaydı tutmaktadır. Bu dosyalar; ip adresiniz, internet servis sağlayıcınız, tarayıcınızın özellikleri, işletim sisteminiz ve siteye giriş-çıkış sayfalarınız gibi standard bilgileri içermektedir. Log dosyaları kesinlikle istatistiksel amaçlar dışında kullanılmamakta ve mahremiyetinizi ihlal etmemektedir.Ip adresiniz ve diğer bilgiler, şahsi bilgileriniz ile ilişkilendirilmemektedir.
</p>
<h4>Reklamlar</h4>
<p>
Sitemizde dışarıdan şirketlerin reklamlarını yayınlamaktayız (Google, v.s.). Bu reklamlar çerez (cookies) içerebilir ve bu şirketler tarafından çerez bilgileri toplanabilir ve bizim bu bilgiye ulaşmamız mümkün değildir. Biz Google Adsense, vb. şirketler ile çalışmaktayız lütfen onların ilgili sayfalarından gizlilik sözleşmelerini okuyunuz.
</p>
<h4>Çerezler (Cookies)</h4>
<p>
“Cookie - Çerez” kelimesi web sayfası sunucusunun sizin bilgisayarınızın hard diskine yerleştirdiği ufak bir text dosyasını tanımlamak için kullanılmaktadır. Sitemizin bazı bölümlerinde kullanıcı kolaylığı sağlamak için çerez kullanılıyor olabilir. Ayrıca sitede mevcut bulunan reklamlar aracılığıyla, reklam verilerinin toplanması için cookie ve web beacon kullanılıyor olabilir. Bu tamamen sizin izninizle gerçekleşiyor olup, isteğiniz dahilinde internet tarayıcınızın ayarlarını değiştirerek bunu engellemeniz mümkündür.
</p>
<h4>Dış Bağlantılar</h4>
<p>
<span>@ViewData["isim"]</span> sitesi, sayfalarından farklı internet adreslerine bağlantı vermektedir. <span>@ViewData["isim"]</span> link verdiği, banner tanıtımını yaptığı sitelerin içeriklerinden veya gizlilik prensiplerinden sorumlu değildir. Burada bahsedilen bağlantı verme işlemi, hukuki olarak “atıfta bulunma” olarak değerlendirilmektedir.
</p>
<h4>İletişim</h4>
<p>
<span>@ViewData["isim"]</span> sitesinde uygulanan gizlilik politikası ile ilgili; her türlü soru, görüş ve düşüncelerinizi <span>@ViewData["isim"]</span> adresinden bana iletebilirsiniz.</p>
</p>